@page "/cart"
@using Microsoft.AspNetCore.Authorization

@inject AuthenticationStateProvider _authenticationStateProvider
@* @inject NavigationManager _navigationManager *@
@inject IShoppingCartRepository _shoppingCartRepository
@inject IOrderFactory _orderFactory
@inject IOrderRepository _orderRepository
@inject NavigationManager _navigationManager
@attribute [Authorize]

@if (_isLoading)
{
    <div class="position-fixed top-0 start-0 w-100 h-100 d-flex flex-column align-items-center justify-content-center"
         style="z-index: 9999; background-color: #0b1121;">
        <img src="/images/loading_page.gif" alt="loading" class="img-fluid" style="max-width: 500px;" />

    </div>
}
else
{
    @if (ShoppingCarts.Any())
    {
        <div class="row w-100">
            <div class="col-lg-6 col-12">
                <div class="container p-4 m-2">
                    <h4 class="text-center text-success display-6">
                        Cart Summary
                    </h4>

                    @foreach (var item in ShoppingCarts)
                    {
                        <div class="d-flex p-2 m-2">
                            <div class="card flex-row w-100">
                                <img class="card-img-left" style="width: 120px;" src="@(item.Product.ImageUrl ?? "/images/default.png")">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="">
                                            @item.Product.Name
                                        </h4>
                                        <h4>
                                            @item.Product.NetAmount.ToString("C", CultureInfo.GetCultureInfo("pl-PL"))
                                        </h4>
                                    </div>
                                    <div class="flex-fill">
                                        <h4 class="text-danger">
                                            @((item.Product.NetAmount * item.Quantity).ToString("C", CultureInfo.GetCultureInfo("pl-PL")))
                                        </h4>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between g-0">
                                            <span @onclick="() => UpdateCartItem(item.ProductId, -updateByValue)">
                                                <i class="bi bi-dash-circle-fill btn text-secondary"></i>
                                            </span>
                                            <span class="ml-1 me-1">
                                                <b class="lead">@item.Quantity</b>
                                            </span>
                                            <span @onclick="() => UpdateCartItem(item.ProductId, updateByValue)">
                                                <i class="bi bi-plus-circle-fill btn text-secondary"></i>
                                            </span>
                                        </div>
                                        <button class="btn btn-danger" @onclick="() => UpdateCartItem(item.ProductId, -updateByValue * 10000)">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-6 col-12 p-4">
                <div class="card">
                    <div class="card-header text-success text-center display-6">
                        Pickup Details
                    </div>
                    <EditForm Model="OrderHeader" FormName="CartForm" OnValidSubmit="OrderCreationProcess">
                        <DataAnnotationsValidator />
                        <div class="card-body">
                            <div class="form-group">
                                <label>Name</label>
                                <InputText @bind-Value="OrderHeader.Name" type="text" class="form-control" />
                                <ValidationMessage For="@(() => OrderHeader.Name)" />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <InputText @bind-Value="OrderHeader.Email" type="text" class="form-control" />
                                <ValidationMessage For="@(() => OrderHeader.Email)" />
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <InputText @bind-Value="OrderHeader.PhoneNumber" type="text" class="form-control" />
                                <ValidationMessage For="@(() => OrderHeader.PhoneNumber)" />
                            </div>
                            <div class="card mt-4 bg-light">
                                <div class="card-body">
                                    <h4>
                                        Total Amount: @OrderHeader.OrderTotal.ToString("C", CultureInfo.GetCultureInfo("pl-PL"))
                                    </h4>
                                    <h4>
                                        No. of Items: @TotalItems
                                    </h4>
                                </div>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-success m-4">
                            Place Order!
                        </button>
                    </EditForm>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="p-4">
            <div class="alert alert-warning">
                Your cart is empty! Please add some items to your cart before proceeding to checkout.
            </div>

        </div>
    }
}
@code {
    private IEnumerable<ShoppingCart> ShoppingCarts = new List<ShoppingCart>();
    [SupplyParameterFromForm]
    public OrderHeader OrderHeader { get; set; } = new OrderHeader();
    private int TotalItems { get; set; } = 0;
    private bool _isLoading { get; set; } = true;
    private const int updateByValue = 1;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userEail = user.FindFirst(u => u.Type.Contains("email"))?.Value;
        var userId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        OrderHeader.Email = userEail;
        OrderHeader.UserId = userId;
        OrderHeader.Status = Statuses.Status_Pending;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCart();
            _isLoading = false;
            StateHasChanged();
        }
    }
    private async Task LoadCart()
    {
        ShoppingCarts = await _shoppingCartRepository.GetAllAsync(OrderHeader.UserId);

        OrderHeader.OrderTotal = 0;
        TotalItems = 0;
        foreach (var cart in ShoppingCarts)
        {
            OrderHeader.OrderTotal += (Convert.ToDouble(cart.Product.NetAmount) * cart.Quantity);
            TotalItems += cart.Quantity;
        }
        OrderHeader.OrderTotal = Math.Round(OrderHeader.OrderTotal, 2);
    }

    private async Task UpdateCartItem(Guid productId, int updateByValue)
    {      
        var result = await _shoppingCartRepository.UpdateCartAsync(OrderHeader.UserId, productId, updateByValue);
        await LoadCart();
    }

    private async Task OrderCreationProcess()
    {
        _isLoading = true;
        await Task.Yield();
        OrderHeader.OrderDetails = _orderFactory.CreateOrderDetails(ShoppingCarts.ToList());
        await _orderRepository.CreateAsync(OrderHeader);
        await _shoppingCartRepository.ClearCartAsync(OrderHeader.UserId);
        _navigationManager.NavigateTo($"/order-confirmation/{OrderHeader.Id}");
    }
}
